{% block menu %}
    <nav id="left-menu">
        <ul>
            {% for genre in genres %}
                <li>
                    <a href="{{ path('movie_list', {'genres': genre.id}) }}">{{ genre.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endblock %}