<header>
    <h1>{{ title }}</h1>
    <form id="search_form" method="get" action="{{ path('search_movie') }}">
        <input id="search_text" type="text" name="search" autocomplete="off" >
        <button type="submit">🔎</button>
    </form>
    <div id="autocomplete-result"></div>
</header>
<div class="clear"></div>