{% extends 'base.html.twig' %}

{% block title %}{{ movie.title }}{% endblock %}

{% block body %}
{{ show_menu() }}
<main>
    <h1>{{ movie.title }}</h1>
    {{ include('include/movie.include.html.twig', {movie: movie}, with_context = false) }}
</main>
{% endblock %}
