{% extends 'base.html.twig' %}

{% block title %}Recherche Films{% endblock %}

{% block body %}
{{ show_menu() }}
<main>
    <h1>Resultat de le recherche</h1>
    <ul>
        {% for movie in movies %}
        <li>
            <a href="{{ path('movie_details', {movieId: movie.id}) }}">
                <img src="{{ generate_movie_db_path('w92', movie.posterPath) }}">
                {{ movie.title }}
            </a>
        </li>
        {% endfor %}
    </ul>
</main>
{% endblock %}
