{% extends 'base.html.twig' %}

{% block title %}{{ movie.title }}{% endblock %}

{% block body %}
<main>
    {{ include('include/header.include.html.twig', {title: movie.title}, with_context = false) }}
    {{ show_menu() }}
    <article id="movie-page">
    {{ include('include/movie.include.html.twig', {movie: movie}, with_context = false) }}
    </article>
</main>
{% endblock %}
